%section#partners.bg-light-gray
  .container
    .row
      .col-md-4.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "#{ image_url('partners/partner-1.png') }"}
      .col-md-4.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "#{ image_url('partners/partner-2.png') }"}
      .col-md-4.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "#{ image_url('partners/partner-3.png') }"}
      .col-md-4.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "#{ image_url('partners/partner-4.png') }"}
      .col-md-4.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "#{ image_url('partners/partner-5.png') }"}
      .col-md-4.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "#{ image_url('partners/partner-6.png') }"}