/ Portfolio Grid Section
%section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Portfolio
        %h3.section-subheading.text-muted A few of our projects.
    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "#{image_url('portfolio/eventbrite.jpg')}"}
        .portfolio-caption
          %h4 Eventbrite
          %p.text-muted Web Development
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "#{image_url('portfolio/expanse.jpg')}"}
        .portfolio-caption
          %h4 Expanse Energy
          %p.text-muted Web and Mobile Development
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "#{image_url('portfolio/ms.jpg')}"}
        .portfolio-caption
          %h4 MinistrySafe
          %p.text-muted Web Development
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "#{image_url('portfolio/trackr.jpg')}"}
        .portfolio-caption
          %h4 Trackr
          %p.text-muted Mobile Development
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "#{image_url('portfolio/wlp.jpg')}"}
        .portfolio-caption
          %h4 WLP Energy
          %p.text-muted Data Science
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "#{image_url('portfolio/crudelist.jpg')}"}
        .portfolio-caption
          %h4 Crudelist
          %p.text-muted Web Development