/ Portfolio Modals
/ Use the modals below to showcase details about your portfolio projects!
/ Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Eventbrite
            %p.item-intro.text-muted Web Development
            %img.img-responsive.img-centered{:alt => "", :src => "#{image_url('portfolio/eventbrite_large.jpg')}"}
              %p Eventbrite is the leading event management platform on the web with millions of individuals utilizing their applications to find, register or, and management events in numerous industries. Since starting to consult for Eventbrite I have been tasked with building out web applications from scratch in Ruby on Rails, along with extending the functionality of legacy applications, and working on developing custom libraries for their APIs.

              %p In building out these applications, I have been able to work on applications that are both enterprise and consumer facing, working with: Ruby on Rails and JavaScript. As would be expected with working with organizations such as Eventbrite, the projects follow development best practices, including: following agile methodology, daily updates to the project managers, version control and unit testing
              %ul.list-inline
                %li Date: Jan 2016
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Expanse Energy
            %p.item-intro.text-muted Web and Mobile Development
            %img.img-responsive.img-centered{:alt => "", :src => "#{image_url('portfolio/expanse_large.png')}"}
              %p
                Expanse Energy ecompasses 8 companies with 800+ employees across the US. We have developed both web and mobile applications that are utilized across the organization.

              %p
                In addition to traditional development projects, we have also focused on integrating Expanse's enterprise solutions with each project that we've worked on. This translates into building integrations with Microsoft ActiveDirectory and SharePoint. These integrations allow the organization to continue with its day to day operations while allowing for custom solutions.
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Ministry Safe
            %p.item-intro.text-muted Web Development 
            %img.img-responsive.img-centered{:alt => "", :src => "#{image_url('portfolio/ministrysafe_large.png')}"}
              %p
                Ministry Safe is one of the leading training systems in the marketplace for employee safety.
              %p
                Initially we began with managing Ministry Safe's legacy web application. Soon after taking over technical management of the application we were asked to build a new training system for the organization from scratch. We spent the past year building out a completely new system that is used by tens of thousands of users daily and matches the organization requirements.
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Trackr
            %p.item-intro.text-muted Web and Mobile Development
            %img.img-responsive.img-centered{:alt => "", :src => "#{image_url('portfolio/trackr_large.png')}"}
              %p
                Trackr was one of the original employee tracking applications for the energy services industry.
              %p
                In addition to mobile tracking of employees, the Trackr system also incorporates a comprehensive web dashboard that manages: payroll, asset utilizations, and oil field mapping for the companies that utilize the system.
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 WLP Energy
            %p.item-intro.text-muted Web Development
            %img.img-responsive.img-centered{:alt => "", :src => "#{image_url('portfolio/wlp_large.png')}"}
              %p
                Wilson Systems and WLP Energy are the leading oil field services and SWD providers in the West Texas region.
              %p
                We have built out multiple internal systems for the WLP and Wilson companies that allow them to manage day to day operations. These web applications include Ruby on Rails systems that are used in the office and in the field.
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 CrudeList
            %p.item-intro.text-muted Web Development
            %img.img-responsive.img-centered{:alt => "", :src => "#{image_url('portfolio/crudelist_large.png')}"}
              %p
                CrudeList offers a full directory of energy services throughout the US.
              %p
                IT Scaffold has built the CrudeList system from scratch. Including the UI and backend Ruby on Rails application.
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project