= render 'shared/navigation'
= render 'main'
= render 'about'
= render 'portfolio'
= render 'services'
= render 'partners'
= render 'shared/contact'
= render 'shared/footer'
= render 'portfolio_modals'