%html
  
  %head
    %title IT Scaffold | Your Enterprise IT Partner
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  
  %body.index{id: 'page-top'}
    = yield

  = javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"